$blue:#24cca3;
$white:#ffffff;
$red:#ff0000;
$black:#000000;
$ltgrey:#f5f5f5;
$grey:#dddddd;
$dropdownBg:#4c4a4f;
$dropdownColor:#cdcccd;
$color7: #777777;
$color1b: #1b1b1b;
$color35: #353535;
$color4c:#4c4c4c;

